
<div id="image" >

  <h2>Sign in right now!</h2>
  
  <form action="/action_page.php">
  <fieldset id="fieldset" >
  <legend></legend><br><br>
  
  
   <label class=Deco> Email adress </label><br><br>
    <input type="text" name="Cape Town" #Emailadress>
    <br><br>
  
   <label class=Deco>Hotel.lo password</label><br><br>
    <input type="password" name="Johannesburg" #password>
    <br><br>
  
  
  
  
    <br><br>
  
    <a routerLink="/Comfirmation"><input type="submit" value="Submit" (click)="Book(Emailadress.value,password.value)"></a>
  
   
  
    </fieldset>
  </form>
  
  
  
  </div>
  
  <footer>
  
      <marquee><h4>Live your dream today, like there's no tomorrow!</h4></marquee>
      
    </footer>