<div id="image" >

    <h2>Let's find your ideal car!</h2>
    
    <form action="/action_page.php">
    <fieldset id="fieldset" >
    <legend></legend><br><br>
    
    
     <label class=Deco> Pick-up Location:</label><br><br>
      <input type="text" name="Cape Town" #PickupLocation>
      <br>
      <input type="radio">Drop car off at different location<br><br><br>
    
    
     <label class="Deco">Pick-up Date:</label><br><br>
      <input type="date" placeholder="depart" #PickupDate>
      <br><br>
    
    <label class="Deco">Drop-off Date:</label><br><br>
    <input type="date" placeholder="return" #DropoffDate><br><br>

    <input type="radio">Driver aged 30-65?<br><br>

    <a routerLink="/Comfirmation"><input type="submit" value="Submit" (click)="Book(PickupLocation.value,PickupDate.value,DropoffDate.value)"></a>

  
  
  </fieldset>
  </form>

  </div>

  <footer>

      <marquee><h4>Live your dream today, like there's no tomorrow!</h4></marquee>
      
    </footer>
  

