<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<div id="container">

    <div class="gallery">

          <img src="images/protea.png" width="70%" height="500px">

<h3>Protea Hotel Edward<br>
DURBAN</h3>
<i class="fa fa-star" style="color: gold; font-size: 25px;"></i>
<i class="fa fa-star" style="color: gold; font-size: 25px;"></i>
<i class="fa fa-star" style="color: gold; font-size: 25px;"></i>
<i class="fa fa-star" style="color: gold; font-size: 25px;"></i>
<i class="fa fa-star" style="color: gold; font-size: 25px;"></i><br><br>

<label>
<i class="fa fa-bed" style="font-size: 25px;"></i>&emsp;Comfortable bed<br>
<i class="fa fa-wifi" style="font-size: 25px;"></i>&emsp;Free Wi-Fi in public areas<br>
<img src="images/food.png" width="35px">&emsp;Chinese restaurant<br>
<i class="fa fa-beer" style="font-size: 25px;"></i>&emsp;Bar<br><br>

<b>R1000</b><br>

<input type="button" value="{{val}}"(click)="BookNow()">

</label>


      </div>

      <div class="gallery">

          <img src="images/dbed.png" width="70%" height="500px"><br>

          <label>
              <i class="fa fa-bed" style="font-size: 25px;"></i>&emsp;Comfortable bed<br>
              <i class="fa fa-wifi" style="font-size: 25px;"></i>&emsp;Free Wi-Fi<br>
              <i class="fa fa-tv" style="font-size: 25px;"></i>&emsp;Televion set available<br>
              <i class="fa fa-bath" style="font-size: 25px;"></i>&emsp;2 bath tubs
              

            </label>

      </div>


      <div class="gallery">

          <img src="images/dbuffet.png" width="70%" height="500px"><br>

          <label>
              <i class="fa fa-beer" style="font-size: 25px;"></i>&emsp;Bar<br>
              <img src="images/food.png" width="35px">&emsp;Breakfast<br>
              

            </label>

            


</div>

<div class="gallerys">

    <img src="images/protea.png" width="70%" height="500px">

<h3>Protea Hotel Edward<br>
DURBAN</h3>
<i class="fa fa-star" style="color: gold; font-size: 25px;"></i>
<i class="fa fa-star" style="color: gold; font-size: 25px;"></i>
<i class="fa fa-star" style="color: gold; font-size: 25px;"></i>
<i class="fa fa-star" style="color: gold; font-size: 25px;"></i>
<i class="fa fa-star" style="color: gold; font-size: 25px;"></i><br><br>

<label>
<i class="fa fa-bed" style="font-size: 25px;"></i>&emsp;Comfortable bed<br>
<i class="fa fa-wifi" style="font-size: 25px;"></i>&emsp;Free Wi-Fi in public areas<br>
<img src="images/food.png" width="35px">&emsp;Chinese restaurant<br>
<i class="fa fa-beer" style="font-size: 25px;"></i>&emsp;Bar<br><br>

<b>R1000</b><br>

<input type="button" value="{{val}}"(click)="BookNow()">

</label>


</div>










<div class="gallerys">

    <img src="images/dbed.png" width="70%" height="500px"><br>

    <label>
        <i class="fa fa-bed" style="font-size: 25px;"></i>&emsp;Comfortable bed<br>
        <i class="fa fa-wifi" style="font-size: 25px;"></i>&emsp;Free Wi-Fi<br>
        <i class="fa fa-tv" style="font-size: 25px;"></i>&emsp;Televion set available<br>
        <i class="fa fa-bath" style="font-size: 25px;"></i>&emsp;2 bath tubs
        

      </label>

</div>

<div class="gallerys">

    <img src="images/dbuffet.png" width="70%" height="500px"><br>

    <label>
        <i class="fa fa-beer" style="font-size: 25px;"></i>&emsp;Bar<br>
        <img src="images/food.png" width="35px">&emsp;Breakfast<br>
        

      </label>

      


</div>
      




</div>

</body>