
<body>


  <div id="container" >
      
  
      <router-outlet></router-outlet>
  
     
      <br><br><br><br><br><br><h1><b>Find deals that suit your wallet!</b></h1><br><br><br>
  
      <input type="text" placeholder="WHERE ARE YOU GOING?">
      
      <input type="date" placeholder="check-in">
      <input type="date" placeholder="check-out">
      <input type="number" placeholder="Adults">
      <input type="number" placeholder="Children"><br><br><br>

      <a routerLink="/Gallery"><input type="button" value="Search"></a><br><br><br><br>
  
  
  
      <input type="radio">I'm travelling for work<br><br><br><br><br><br><br>
      
      

      
      &emsp;
      
  
      
  
    </div>
    
   
  
    
  
    <footer>

      <marquee><p>Live your dream today, like there's no tomorrow!</p></marquee>
      
    </footer>
      
      </body>
    
